<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>UUM-VERSION</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:com/hirisun/uum/web/context/applicationContext-web.xml</param-value>
	</context-param>

	<filter>
		<filter-name>exceptionFilter</filter-name>
		<filter-class>com.hirisun.uum2.web.exception.filter.ExceptionFilter</filter-class>
	</filter>
	
	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	
	<filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>targetBeanName</param-name>
			<param-value>shiroFilterFactory</param-value>
		</init-param>
	</filter>
	
	<filter>
		<filter-name>ipFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>targetBeanName</param-name>
			<param-value>ipFilter</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>LctaFilter</filter-name>
		<filter-class>com.hirisun.components.security.lcta.LctaFilter</filter-class>
		<init-param>
			<param-name>mode</param-name>
			<param-value>SLAVE</param-value>
		</init-param>
		<init-param>
			<param-name>accessKey</param-name>
			<param-value>hirisunpass</param-value>
		</init-param>
	</filter>
	
	<filter>
		<filter-name>hibernateFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
		<init-param>
			<param-name>sessionFactoryBeanName</param-name>
			<param-value>uumSessionFactory</param-value>
		</init-param>
		<init-param>
			<param-name>flushMode</param-name>
			<param-value>NEVER</param-value>
		</init-param>
	</filter>
	
	<filter>
		<filter-name>MainUUMApplication</filter-name>
		<filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
			<param-name>applicationFactoryClassName</param-name>
			<param-value>
                org.apache.wicket.spring.SpringWebApplicationFactory
            </param-value>
		</init-param>
		<init-param>
			<param-name>applicationBean</param-name>
			<param-value>mainUUMApplication</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>exceptionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>ipFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>LctaFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	
	<!-- hibernate lazy -->
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>/w/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>shiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>MainUUMApplication</filter-name>
		<url-pattern>/w/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>com.hirisun.uum.web.EngineListener</listener-class>
	</listener>

	<listener>
		<listener-class>
			org.springframework.web.context.request.RequestContextListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>nsf</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:com/hirisun/uum/web/context/applicationContext-web-mvc.xml</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>restService</servlet-name>
		<servlet-class>org.apache.wink.server.internal.servlet.RestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>nsf</servlet-name>
		<url-pattern>*.nsf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>restService</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>10</session-timeout>
	</session-config>

	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/500.jsp</location>
	</error-page>

	<error-page>
		<error-code>503</error-code>
		<location>/503.jsp</location>
	</error-page>

	<error-page>
		<error-code>400</error-code>
		<location>/400.jsp</location>
	</error-page>
</web-app>
