@CHARSET "UTF-8";

body {
	font-family: 宋体;
	font-size: 12px;
	margin: 0;
	padding: 0;
	text-align: center;
}

#wrapper1 {
	width: 100% px;
	padding: 0px;
	margin-right:10px;
	margin-left:10px;
	text-align: left;
	background: #FFFFFF;
}
#content{
    width: 100% px;
	padding: 0px;
	text-align: left;
}
#login{
	width: 100% px;
	padding: 0px;
	text-align: left;
	background: #FFFFFF;
}
#menu {
	background: #FFFFFF none repeat scroll 0 0;
	float: left;
	width: 100%;
}

#menu ul {
	float: left;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 12em;
}

#menu li {
	position: relative;
}

#menu h2 {
	background: #000000 none repeat scroll 0 0;
	color: #FFFFFF;
	text-transform: uppercase;
}


#menu a{
	color: #000000;
	text-decoration:none
}
	
#menu a,#menu h2 {
	-x-system-font: none;
	border-color: #CCCCCC #888888 #555555 #BBBBBB;
	border-style: solid;
	border-width: 1px;
	display: block;
	font-family: arial, helvetica, sans-serif;
	font-size: 11px;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 16px;
	margin: 0;
	padding: 2px 3px;
}

#wrapper2 {
	clear:both;
	width: 100%;
}

#banner {
	background: #AAFF11;
}

#banner h1{
	margin: 0;
}

#sidebar {
	float: left;
	width: 160px;
	background: #00CC11;
}

* html #sidebar {
	display: inline;
}

#main {
	margin-left: 180px;
	background: #00FF11;
}

#footer {
	background: #00BB11;
	clear:both;
}
#treefooter {
	background: #FFFFFF;
	clear:both;
	float: center;
}
#tdleft{
	width:20%; 
	height:100%;
	valign:top;
}
#tdright{
	valign:top;
	width:80%; 
	height:100%;

}
#table1{
    border:0;
	valign:top;
	width:100%; 
	height:100%;
	font-size: 12px;
}
.button {
cursor:pointer;
background-color:#FFFFFF;
background-image:url(images/button_bg.gif);
border:1px solid #7F9DB9;
font-size:9pt;
height:20px;
margin-bottom:1px;
margin-top:2px;
padding-bottom:1px;
padding-top:2px;
top:2px;
}
 
.tableborder1{
background-color:#B7D6F5;
border:1px none;
}
