<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
	default-lazy-init="true">

	<import
		resource="classpath:/com/wt/components/mail/context/applicationContext-mail.xml" />

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>
					classpath:/mail.properties
				</value>
			</list>
		</property>
	</bean>

	<bean id="sendMail" class="com.wt.uum2.mail.impl.SendJavaMail">
		<property name="mailService" ref="mailService"></property>
	</bean>

</beans>
