<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-lazy-init="true">

	<bean id="excelExportService" class="com.wt.uum2.service.impl.ExcelExportServiceImpl">
		<property name="uumService" ref="uumService"></property>
		<property name="columns">
			<list>
				<value>sgccEmployeeCode</value>
				<value>cqPORTALAccount</value>
				<value>cqGjhzAccount</value>
				<value>cqAjAccount</value>
				<value>cqJjjcAccount</value>
				<value>cqJjflAccount</value>
				<value>cqSjAccount</value>
				<value>cqZtbAccount</value>
				<value>cqZhjhAccount</value>
				<value>cqDlyxAccount</value>
				<value>cqNdyyAccount</value>
				<value>cqOaAccount</value>
				<value>cqRlzyAccount</value>
				<value>cqSjzxAccount</value>
				<value>cqYjglAccount</value>
				<value>cqYcpxAccount</value>
				<value>cqFzjcAccount</value>
				<value>cqTzglAccount</value>
				<value>cqPmsAccount</value>
				<value>cqKkxAccount</value>
				<value>cqCwgkAccount</value>
				<value>cqSctjAccount</value>
				<value>cqJjgkAccount</value>
				<value>cqImsAccount</value>
				<value>cqYXYWAccount</value>
				<value>cqZbbsAccount</value>
				<value>cqXMQQAccount</value>
				<value>cqCbkAccount</value>
				<value>cqGhglAccount</value>
				<value>cqScjhAccount</value>
				<value>cqERPAccount</value>
				<value>cqJnjsAccount</value>
				<value>cqTztjAccount</value>
				<value>cqERPSJAccount</value>
				<value>cqGisAccount</value>
			</list>
		</property>
		<property name="tempDir" value="/temp/" />
		<property name="downloadUrl" value="excel/export" />
		<property name="rowTotal" value="0" />
		<property name="rowCurrent" value="0" />
	</bean>

</beans>