<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<import resource="applicationContext-web-config-${nsf.project.id}.xml" />

	<import resource="classpath:/META-INF/server/wink-core-context.xml" />
	<import resource="applicationContext-web-javamelody.xml" />
	<import resource="applicationContext-web-freemarker.xml" />
	<import resource="applicationContext-web-shiro.xml" />
	<import resource="applicationContext-web-ipconfig.xml" />
	<import resource="applicationContext-web-wicket.xml"/>
	<import resource="applicationContext-web-service.xml"/>
	<import resource="applicationContext-javamail.xml"/>
	
	<bean id="localeChangeInterceptor"
		class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
		<property name="paramName" value="lang" />
	</bean>

	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.CookieLocaleResolver" >
		<property name="defaultLocale" value="zh_CN"/>
		<property name="cookieName" value="NSF.LANG"/>
	</bean>
</beans>