<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd
http://www.springframework.org/schema/util
http://www.springframework.org/schema/util/spring-util-3.0.xsd"
	default-lazy-init="true">

	<context:property-placeholder
		location="classpath:/com/wt/uum2/constants/init_${nsf.project.id}.properties" />

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />

	<bean name="openSessionInViewInterceptor"
		class="org.springframework.orm.hibernate3.support.OpenSessionInViewInterceptor">
		<property name="sessionFactory">
			<ref bean="heaSessionFactory" />
		</property>
		<property name="flushMode">
			<util:constant
				static-field="org.springframework.orm.hibernate3.HibernateAccessor.FLUSH_NEVER" />
		</property>
		<property name="singleSession" value="true" />
	</bean>

	<bean
		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
		<property name="interceptors">
			<list>
				<ref bean="openSessionInViewInterceptor" />
				<ref bean="localeChangeInterceptor" />
			</list>
		</property>
	</bean>

	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />

	<import
		resource="classpath:/com/wt/uum/web/context/applicationContext-web-servlet-${nsf.project.id}.xml" />
	<import resource="classpath:/com/wt/uum/web/context/applicationContext-web-servlet-controller.xml" />
	

</beans>