<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<!-- spring 加载xml 属性配置 -->

	
	<!-- common -->
	<import resource="applicationContext-action-servlet.xml" />
	
	<!-- rest -->
	<import resource="applicationContext-rest.xml" />
		
	<!-- rbac -->
	<import resource="classpath:com/wt/hea/rbac/config/applicationContext-action-servlet.xml" />
	
	<!-- webbuilder -->
	<import resource="classpath:com/wt/hea/webbuilder/config/applicationContext-action-servlet.xml" />
	
	<!-- appmanage -->
	<import resource="classpath:com/wt/hea/appmanage/config/applicationContext-action-servlet.xml"/>
	
</beans>