<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd" default-lazy-init="true">
	
	<bean id="heaAppManageBaseService" class="com.wt.hea.appmanage.service.impl.BaseService">
		<property name="appManageDao" ref="heaAppManageDao"/>
	</bean>
	<bean id="heaAppManageService" class="com.wt.hea.appmanage.service.impl.AppManageServiceImpl"  parent="heaAppManageBaseService"/>
</beans>