<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="databaseInitializer" class="nak.nsf.init.impl.DatabaseInitializerImpl"
		lazy-init="true">
		<property name="localSessionFactoryBean" ref="&amp;uumSessionFactory" />
		<property name="testDataGenerator" ref="testDataGenerator" />
		<property name="withTestData" value="true" />
	</bean>

	<bean id="testDataGenerator" class="com.wt.uum2.init.impl.TestDataGeneratorImpl"
		lazy-init="true">
		<property name="userDao" ref="userDao" />
		<property name="groupDao" ref="groupDao" />
		<property name="departmentDao" ref="departmentDao" />
	</bean>
</beans>